In [1]:
import yfinance as yf
import pandas as pd
import numpy as np

ticker = 'AAPL'
start = '2000-02-18'
end = '2023-02-18'
df = yf.download(ticker,start,end, interval = '1d')

print(f'The stock is {ticker}')
# pd.set_option('display.max_rows', None)  # Show all rows
# pd.set_option('display.max_columns', None)  # Show all columns
# pd.set_option('display.width', None)  # Allow display of wide DataFrames

df

[*********************100%%**********************]  1 of 1 completed
The stock is AAPL

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2000-02-18,1.023438,1.030134,0.989955,0.993304,0.842004,233441600
2000-02-22,0.983259,1.044085,0.952567,1.016183,0.861398,422296000
2000-02-23,1.011021,1.062500,0.991071,1.037946,0.879846,473099200
2000-02-24,1.047433,1.063616,0.997768,1.028599,0.871923,376432000
2000-02-25,1.025112,1.044643,0.983259,0.985491,0.835381,249144000
...,...,...,...,...,...,...
2023-02-13,150.949997,154.259995,150.919998,153.850006,153.228439,62199000
2023-02-14,152.119995,153.770004,150.860001,153.199997,152.581055,61707600
2023-02-15,153.110001,155.500000,152.880005,155.330002,154.702438,65573800
2023-02-16,153.509995,156.330002,153.350006,153.710007,153.089005,68167900
2023-02-17,152.350006,153.000000,150.850006,152.550003,151.933685,59144100

In [2]:
tickers = ['AAPL', 'MSFT', 'AMZN']
start = '2019-11-22'
end = '2023-05-20'
df = yf.download(tickers, start, end)
df

[*********************100%%**********************]  3 of 3 completed

             Adj Close                               Close              \
                  AAPL        AMZN        MSFT        AAPL        AMZN
Date
2019-11-22   63.758614   87.286003  144.443176   65.445000   87.286003
2019-11-25   64.876541   88.692001  146.026764   66.592499   88.692001
2019-11-26   64.369949   89.847000  146.799210   66.072502   89.847000
2019-11-27   65.234581   90.925499  147.079269   66.959999   90.925499
2019-11-29   65.090881   90.040001  146.171616   66.812500   90.040001
...                ...         ...         ...         ...         ...
2023-05-15  171.611877  111.199997  308.132599  172.070007  111.199997
2023-05-16  171.611877  113.400002  310.402802  172.070007  113.400002
2023-05-17  172.230225  115.500000  313.336609  172.690002  115.500000
2023-05-18  174.583923  118.150002  317.847046  175.050003  118.150002
2023-05-19  174.693649  116.250000  317.667419  175.160004  116.250000

                              High                                 Low  \
                  MSFT        AAPL        AMZN        MSFT        AAPL
Date
2019-11-22  149.589996   65.794998   87.321503  150.300003   65.209999
2019-11-25  151.229996   66.610001   88.871002  151.350006   65.629997
2019-11-26  152.029999   66.790001   89.851501  152.419998   65.625000
2019-11-27  152.320007   66.995003   91.224998  152.500000   66.327499
2019-11-29  151.380005   67.000000   91.234497  152.300003   66.474998
...                ...         ...         ...         ...         ...
2023-05-15  309.459991  173.210007  112.290001  309.899994  171.470001
2023-05-16  311.739990  173.139999  114.790001  313.709991  171.800003
2023-05-17  314.000000  172.929993  115.830002  314.429993  170.419998
2023-05-18  318.519989  175.240005  118.599998  319.040009  172.580002
2023-05-19  318.339996  176.389999  118.309998  318.750000  174.940002

                                          Open                          \
                  AMZN        MSFT        AAPL        AMZN        MSFT
Date
2019-11-22   86.550003  148.820007   65.647499   86.950996  150.070007
2019-11-25   87.662003  149.919998   65.677498   87.662498  150.000000
2019-11-26   88.917503  151.320007   66.735001   88.996002  151.360001
2019-11-27   89.865501  151.520004   66.394997   90.050003  152.330002
2019-11-29   90.039497  151.279999   66.650002   90.889000  152.100006
...                ...         ...         ...         ...         ...
2023-05-15  109.250000  307.589996  173.160004  111.150002  309.100006
2023-05-16  111.050003  309.829987  171.990005  111.050003  309.829987
2023-05-17  114.220001  310.739990  171.710007  114.889999  312.290009
2023-05-18  116.339996  313.720001  173.000000  116.690002  314.529999
2023-05-19  115.699997  316.369995  176.389999  118.160004  316.739990

               Volume
                 AAPL      AMZN      MSFT
Date
2019-11-22   65325200  49582000  15901800
2019-11-25   84020400  69724000  22420900
2019-11-26  105207600  63624000  24620100
2019-11-27   65235600  60512000  15184400
2019-11-29   46617600  38468000  11977300
...               ...       ...       ...
2023-05-15   37266700  53011100  16336500
2023-05-16   42110300  71472900  26730300
2023-05-17   57951600  65655200  24315000
2023-05-18   65496700  73174100  27276000
2023-05-19   55772400  54990200  27529500

[878 rows x 18 columns]

In [4]:
from datetime import date, datetime
from typing import Any, Dict, Iterator, List, Optional, Union

import pandas as pd
import pytz
from polygon import RESTClient
from polygon.rest.models import (
    Agg,
    DailyOpenCloseAgg,
    GroupedDailyAgg,
    PreviousCloseAgg,
    Sort,
)
from polygon.rest.models.request import RequestOptionBuilder
from urllib3 import HTTPResponse


def get_client():
    return RESTClient("ocunxnOqC0pnltRqT3VkOiKeCmPE49L7")


# TODO: Account for market holidays and half-days
# TODO: Determine timezone from stock/equity ticker
def within_trading_hours(
    timestamp: Union[str, int, datetime, date], timezone: str
) -> bool:
    """
    Determine whether a given instant is within trading hours for a particular exchange.

    :param timestamp: The timestamp (in milliseconds) to be checked.
    :param timezone: The timezone to check trading hours in, as a IANA Time Zone Database Name.
    :return: True if the timestamp is within trading hours, False otherwise.
    """
    dt = datetime.fromtimestamp(timestamp / 1000, tz=pytz.timezone(timezone))
    if dt.weekday() < 5:
        opening_time = dt.replace(hour=9, minute=30, second=0, microsecond=0)
        closing_time = dt.replace(hour=16, minute=0, second=0, microsecond=0)
        return opening_time <= dt <= closing_time
    else:
        return False


# TODO: Determine timezone from stock/equity ticker
def parse_timestamp(timestamp: Union[str, int, datetime, date], timezone: str) -> str:
    """
    Parse a timestamp to a readable format for easy comparisons.

    :param timestamp: The timestamp (in milliseconds) to be formatted.
    :param timezone: The timezone to check trading hours in, as a IANA Time Zone Database Name.
    :return: Date-time representation in the following format: %Y-%m-%d %H:%M:%S %Z.
    """
    dt = datetime.fromtimestamp(timestamp / 1000, tz=pytz.timezone(timezone))
    return dt.strftime("%Y-%m-%d %H:%M:%S %Z")


def agg_to_dict(agg: Agg) -> dict[str, Union[None, float, int, bool]]:
    """
    Convert an aggregate object to a dictionary, and add any extra data that may be useful.

    :param agg: The aggregate object to parse.
    :return: Dictionary with keys corresponding to attributes of the object.
    """
    return {
        "open": agg.open,
        "high": agg.high,
        "low": agg.low,
        "close": agg.close,
        "volume": agg.volume,
        "vwap": agg.vwap,
        "timestamp": agg.timestamp,
        "datetime": parse_timestamp(agg.timestamp, "America/New_York"),
        "transactions": agg.transactions,
        "otc": agg.otc,
    }


def list_aggs(
    client: RESTClient,
    ticker: str,
    multiplier: int,
    timespan: str,
    # "from" is a keyword in python https://www.w3schools.com/python/python_ref_keywords.asp
    from_: Union[str, int, datetime, date],
    to: Union[str, int, datetime, date],
    include_extended_hours: bool = False,
    adjusted: Optional[bool] = None,
    sort: Optional[Union[str, Sort]] = None,
    limit: Optional[int] = None,
    params: Optional[Dict[str, Any]] = None,
    raw: bool = False,
    options: Optional[RequestOptionBuilder] = None,
) -> pd.DataFrame:
    """
    List aggregate bars for a ticker over a given date range in custom time window sizes.

    :param client: The RESTClient object to perform the request with.
    :param ticker: The ticker symbol.
    :param multiplier: The size of the timespan multiplier.
    :param timespan: The size of the time window.
    :param from_: The start of the aggregate time window as YYYY-MM-DD, a date, Unix MS Timestamp, or a datetime.
    :param to: The end of the aggregate time window as YYYY-MM-DD, a date, Unix MS Timestamp, or a datetime.
    :param include_extended_hours: True if pre-market and after-hours trading data are to be included, False otherwise.
    :param adjusted: Whether or not the results are adjusted for splits. By default, results are adjusted. Set this to false to get results that are NOT adjusted for splits.
    :param sort: Sort the results by timestamp. asc will return results in ascending order (oldest at the top), desc will return results in descending order (newest at the top).The end of the aggregate time window.
    :param limit: Limits the number of base aggregates queried to create the aggregate results. Max 50000 and Default 5000. Read more about how limit is used to calculate aggregate results in Polygon's on Aggregate Data API Improvements.
    :param params: Any additional query params.
    :param raw: Return raw object instead of results object.
    :return: Pandas DataFrame representation of aggregate objects.
    """
    aggs = []
    for a in client.list_aggs(
        ticker,
        multiplier,
        timespan,
        from_,
        to,
        adjusted=adjusted,
        sort=sort,
        limit=limit,
        params=params,
        raw=raw,
        options=options,
    ):
        if include_extended_hours or within_trading_hours(
            a.timestamp, "America/New_York"
        ):
            aggs.append(agg_to_dict(a))
    return pd.DataFrame(aggs)

# Set the display option to show all columns
pd.set_option('display.width', None)  # Allow display of wide DataFrames

df = list_aggs(
        get_client(), "AAPL", 1, "minute", "2023-01-01", "2023-11-14", limit=50000
    )
df

,open,high,low,close,volume,vwap,timestamp,datetime,transactions,otc
0,130.2800,130.6999,129.7600,129.7600,1881429.0,130.2370,1672756200000,2023-01-03 09:30:00 EST,23278,None
1,129.7682,129.8700,129.4600,129.6500,539908.0,129.6748,1672756260000,2023-01-03 09:31:00 EST,10712,None
2,129.6400,129.8400,129.4600,129.4600,428709.0,129.6815,1672756320000,2023-01-03 09:32:00 EST,9580,None
3,129.4700,130.0300,129.4400,130.0296,510975.0,129.6664,1672756380000,2023-01-03 09:33:00 EST,10454,None
4,130.0250,130.1500,129.7500,129.8400,465821.0,129.9145,1672756440000,2023-01-03 09:34:00 EST,9882,None
...,...,...,...,...,...,...,...,...,...,...
85054,184.7100,184.7100,184.6200,184.6850,217762.0,184.6587,1699908960000,2023-11-13 15:56:00 EST,2048,None
85055,184.6850,184.7200,184.6650,184.7100,229165.0,184.6915,1699909020000,2023-11-13 15:57:00 EST,2282,None
85056,184.7050,184.7500,184.6900,184.7000,461303.0,184.7156,1699909080000,2023-11-13 15:58:00 EST,2912,None
85057,184.7050,184.7900,184.6700,184.7700,723957.0,184.7260,1699909140000,2023-11-13 15:59:00 EST,5688,None
85058,184.8000,184.8100,184.7203,184.7500,1039545.0,184.7999,1699909200000,2023-11-13 16:00:00 EST,165,None